@tailwind base;
@tailwind components;
@tailwind utilities;
  
  
    .inputBox {
      position: relative;
      width: 100%;
    }
    
    .inputBox input {
      padding: 15px 20px;
      outline: none;
      background: white;
      border-radius: 5px;
      color: black;
      border: 2px solid#B8BFCC;
      font-size: 1em;
      width: 100%;
    }
    
    .inputBox span {
      position: absolute;
      left: 0;
      padding: 15px 20px;
      pointer-events: none;
      font-size: 16px;
      transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
      color: #B8BFCC;
      letter-spacing: 0.1em;
    }
  
    .inputBox input:focus, .inputBox input:valid{
      @apply border-2 border-primary3;
    }
    
    .inputBox input:focus ~ span,
    .inputBox input:valid ~ span {
      font-size: 16px;
      transform: translateX(14px) translateY(-7.5px);
      padding: 0 5px;
      border-radius: 2px;
      background: white;
      letter-spacing: 0em;
      @apply text-primary3;
    }